.breadcrumb > li {
    display: inline;

}

.breadcrumb li + li::before {
    padding: 10px;
    list-style-image: url(fire.png);
    content: ">>";

}

.breadcrumb a {
    text-decoration: none;

}

.breadcrumb a:hover {
    color: red;

}

