.breadcrumb li {
    display: inline;
    text-decoration: blue underline;
}

.breadcrumb li.location + li.location::before {
    padding: 5px;
    content: "/";
}

.breadcrumb li a:hover{
    color: #01447e;
    text-decoration: underline;
}