body {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    background-color: #0087de;
    line-height: 100px;
    margin: 0;
}

section {
    display: inline-flex;
    position: relative;
}

article {
    margin: 10px;
    border: black solid 1px;
    padding: 10px;
    background: whitesmoke;

}
.article-one {
    border-radius: 10px;
    position: relative;
}

.article-two {
    border-radius: 10px;
    position: relative;
}
#pickerke a {
    display: block;
    width: 26px;
    height: 20px;
    overflow: hidden;
    text-indent: 999px;
    float: left;
    position: relative;
    z-index: 8;
}

#pickerke a:hover {

}

.btn_one {
    color: White;
    background-color:#2176FF;
    border-radius: 10px;
    font-size: 12px;
    line-height: 17px;
    padding: 9px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
    transition: margin-right 2s, color 1s;
}

.btn_one:hover {
    background: gold;
    color: Blue;
    font-size: 15px;
}
.btn_one:active {
    background: #144E75; }

#slider {
    padding-top: 50px;
}